@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* INITIALS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: whitesmoke; 
}

main {
  width: 1120px;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(90deg, black 0%, white 100%);
  box-shadow: 0 1px 0 white;
  max-width: 1120px;
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 30px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* HOME */

section#home {
  height: calc(100vh + 80px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 20px;
  width: 100%;
}

.home-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: justify;
}

.home-info button {
  border: none;
  width: 150px;
  padding: 10px;
  background-color: white;
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;
}

.home-info button a{
  color: white;
}

.home-info button:hover{
  opacity: 1;
}

.home-img {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* FORMAÇAO */

section#form {
  height: calc(100vh + 80px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.form-img {
  width: 50%;
}

.form-img img {
  box-shadow: 0 1px 2px white;
  object-fit: cover;
  width: 80%;
}

.form-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.swiper {
  width: 85vw;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify content: center;
  align-items: center;
  padding: 0 30px;
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
}

.swiper-pagination-bullet-active {
  background-color: black ;
}

/* CONTACT */

#contact {
  height: calc(100vh + 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 100%;
  padding: 5px 20px;
}

input, textarea, button, {
  box-shadow: 0 1px 2px rgb(99, 97, 97);
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  resize: none;
}

#contact form button {
  background-color:black;
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.9;
}

#contact form button:hover{
  opacity: 1;
}

#local {
  box-shadow: 0 1px 2px rgb(99, 97, 97);
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  resize: none;

}

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 100px;
  right: 40px;
  background-color: white;
  color: black;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  animation: float 0.5s ease-in-out infinite;
  box-shadow: 0 7px 3px;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* MOBILE */

@media (max-width: 600px) {
  header {
    justify-content: center;
  }
  
  .logo {
    display: none;
  }

  section#home {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .home-info, .home-img {
    text-align: center;
    width: 100%;
    padding: 10px;
  }

  .swiper-slide {
    flex-direction: column;
    gap: 30px;
  }
  
  .form-img {
    width: 50%;
  }
 
  .form-info {
    text-align: center;
    width: 80%;
  }
  
  .ocult-cel {
    display: none;
  }
}
